<a href="https://colab.research.google.com/github/kyanimin/DataScience/blob/main/04_%EB%8D%B0%EC%9D%B4%ED%84%B0_%EC%8B%9C%EB%A6%AC%EC%8A%A4%EC%99%80_%ED%94%84%EB%A0%88%EC%9E%84_%EB%8B%A4%EB%A3%A8%EA%B8%B0.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

데이터 준비하기

In [ ]:
import pandas as pd

# niaaa-report2009.csv; 미국 국립 알코올 남용 및 중독 연구소에서 발표한 2011년 실태조사 보고서 중 2009년 1년치 데이터
alcohol2009 = pd.read_csv("/content/niaaa-report2009.csv", index_col = "State")
alcohol2009.head()

            Beer  Wine  Spirits
State
Alabama     1.20  0.22     0.58
Alaska      1.31  0.54     1.16
Arizona     1.19  0.38     0.74
Arkansas    1.07  0.17     0.60
California  1.05  0.55     0.73

In [ ]:
alcohol2009.tail()

               Beer  Wine  Spirits
State
Virginia       1.11  0.43     0.59
Washington     1.09  0.51     0.74
West Virginia  1.24  0.10     0.45
Wisconsin      1.49  0.31     1.16
Wyoming        1.45  0.22     1.10

In [ ]:
alcohol2009.size

153

In [ ]:
alcohol2009.info()

<class 'pandas.core.frame.DataFrame'>
Index: 51 entries, Alabama to Wyoming
Data columns (total 3 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   Beer     51 non-null     float64
 1   Wine     51 non-null     float64
 2   Spirits  51 non-null     float64
dtypes: float64(3)
memory usage: 4.1+ KB

In [ ]:
alcohol2009.shape

(51, 3)

In [ ]:
alcohol2009["Wine"].head()

State
Alabama       0.22
Alaska        0.54
Arizona       0.38
Arkansas      0.17
California    0.55
Name: Wine, dtype: float64

In [ ]:
alcohol2009.Wine.head()

State
Alabama       0.22
Alaska        0.54
Arizona       0.38
Arkansas      0.17
California    0.55
Name: Wine, dtype: float64

In [ ]:
# 새로운 열 추가
alcohol2009["Total"] = 0
alcohol2009.head()

            Beer  Wine  Spirits  Total
State
Alabama     1.20  0.22     0.58      0
Alaska      1.31  0.54     1.16      0
Arizona     1.19  0.38     0.74      0
Arkansas    1.07  0.17     0.60      0
California  1.05  0.55     0.73      0

In [ ]:
# 인덱스 변경하기 (어떤 열이라도 데이터 프레임의 인덱스가 될 수 있음)

alcohol2009. reset_index().set_index("Beer").head()

           State  Wine  Spirits  Total
Beer
1.20     Alabama  0.22     0.58      0
1.31      Alaska  0.54     1.16      0
1.19     Arizona  0.38     0.74      0
1.07    Arkansas  0.17     0.60      0
1.05  California  0.55     0.73      0

In [ ]:
alcohol2009.reset_index().set_index("State").head()

            Beer  Wine  Spirits  Total
State
Alabama     1.20  0.22     0.58      0
Alaska      1.31  0.54     1.16      0
Arizona     1.19  0.38     0.74      0
Arkansas    1.07  0.17     0.60      0
California  1.05  0.55     0.73      0

In [ ]:
alcohol2009.loc["Nebraska"]  #pandas 1.0.0 버전부터 deprecated

Beer       1.46
Wine       0.20
Spirits    0.68
Total      0.00
Name: Nebraska, dtype: float64

In [ ]:
#in 연산자 데이터 프레임의 특정 레이블을 가진 행이 있는지 확인
"Samoa" in alcohol2009.index

False

In [ ]:
"Nebraska" in alcohol2009.index

True